@import "tailwindcss";

/* Customers.css */
@keyframes marquee {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  width: max-content;
  animation: marquee 40s linear infinite;
}

/* Pause animation on hover for better UX */
.group:hover .animate-marquee {
  animation-play-state: paused;
}